<launch>
    <!-- Gazebo arguments -->
    <arg name="gui"                default="false" />
    <arg name="world"              default="step_10cm"/>
    <arg name="x"                  default="0.0"/>
    <arg name="y"                  default="0.0"/>
    <arg name="z"                  default="3.0"/>
    <arg name="yaw"                default="0.0"/>
    <arg name="joint_controller_ns" default="anymal_c"/>

    <!-- Load config file -->
    <include file="$(find bobnet_config)/launch/load_config.launch">
        <arg name="robot_name" value="anymal_c"/>
    </include>

    <!-- RL controller arguments -->
    <arg name="rl_policy_path"     default="/home/kuba/Downloads/pol.pt"/>
    <param name="rl_policy_path"   value="$(arg rl_policy_path)"/>

    <!-- Reference arguments -->
    <arg name="reference_source"   default="joystick"/>
    <param name="reference_source" value="$(arg reference_source)"/>
    <arg name="joystick_dev"       default="/dev/input/js0"/>

    <!-- Generic arguments -->
    <arg name="description_name"   default="robot_description"/>

    <!-- URDF description -->
    <arg name="urdfFile"          default="$(find anymal_description)/urdf/anymal.urdf"/>
    <param name="$(arg description_name)" textfile="$(arg urdfFile)"/>

    <!-- Start Gazebo simulation -->
    <param name="/bobnet_gazebo/state_topic" value="/anymal_c/state"/>
    <param name="/bobnet_gazebo/state_update_rate" value="400"/>
    <param name="/bobnet_gazebo/base_link" value="base"/>
    <param name="/bobnet_gazebo/lf_foot" value="LF_FOOT"/>
    <param name="/bobnet_gazebo/lh_foot" value="LH_FOOT"/>
    <param name="/bobnet_gazebo/rf_foot" value="RF_FOOT"/>
    <param name="/bobnet_gazebo/rh_foot" value="RH_FOOT"/>
    <include file="$(find bobnet_gazebo)/launch/simulation.launch">
        <arg name="robot_name" value="anymal_c"/>
        <arg name="robot_ns" value="anymal_c"/>
        <arg name="description_name" value="$(arg description_name)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="world" value="$(arg world)"/>
        <arg name="x" value="$(arg x)"/>
        <arg name="y" value="$(arg y)"/>
        <arg name="z" value="$(arg z)"/>
        <arg name="yaw" value="$(arg yaw)"/>
    </include>

    <!-- Joystick reference -->
    <group if="$(eval reference_source == 'joystick')">
        <include file="$(find bobnet_reference)/launch/joystick.launch">
            <arg name="joystick_dev" value="$(arg joystick_dev)"/>
        </include>
	</group>

    <!-- Twist reference -->
    <group if="$(eval reference_source == 'twist')">
    </group>

    <!-- Gridmap loader -->
    <param name="/bobnet/gridmap_topic" value="/anymal_c/grid_map"/>
    <param name="/bobnet/gridmap_path" value="$(find bobnet_gazebo)/launch/worlds/$(arg world)/$(arg world).ply"/>
    <node name="gridmap_loader" pkg="bobnet_gridmap" type="load_map"/>

    <!-- Robot interface -->
    <param name="/bobnet/interface_rate" value="50"/>
    <node name="robot_interface" pkg="bobnet" type="anymal_c_main" output="screen"/>

    <!-- Start Rviz visualizer -->
    <arg name="rvizconfig" default="$(find bobnet)/launch/rviz/anymal_c.rviz" />
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rvizconfig)" output="screen" />
</launch>