<?xml version="1.0" encoding="utf-8"?>

<launch>
	<arg name="joint_controller_ns"      default="anymal_c"/>
    <arg name="description_name"         default="robot_description"/>
	<arg name="gui"					     default="true"/>
	<arg name="world"					 default="normal"/>
	<arg name="x" 					   	 default="0.0"/>
	<arg name="y" 					     default="0.0"/>
	<arg name="z" 					     default="3.0"/>
	<arg name="yaw" 					 default="0.0"/>

	<!-- Empty World -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find bobnet_gazebo)/launch/worlds/$(arg world)/$(arg world).world"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="gui" value="$(arg gui)"/>
	</include>

	<!-- Spawn robot -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
	   args="-param $(arg description_name) -urdf -x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg yaw) -model robot"/>

	<!-- Start joint controller -->
	<rosparam file="$(find bobnet_gazebo)/config/controllers.yaml" command="load" />
	<node name="controller_spawner" pkg="controller_manager" type="spawner"
      respawn="false" output="screen" ns="$(arg joint_controller_ns)" args="joint_controller"/>
</launch>
